*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 240, 255);
    font-family: Arial;
}

img{
    width: 100%;
}

.main{
    width: 90%;
    max-width: 300px;
    margin: 10% auto;
    padding: 1rem;
    border-radius: 1rem; 
    background-color: white;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.main p{
    color: rgb(140, 140, 140)
}